
.About-intro{
    margin-bottom: 5%;
    color: #fff;
    text-align: center;
    padding-top: 0%;
    font-size: 500%;
}

hr{
    margin-top: 10%;
}

.About-text1{
    margin-top: 5%;
    color: #fff;
    font-size: 100%;
}

.About-text2{
    margin-top: 10%;
    color: #fff;
    font-size: 100%;
}

.span-ut{
    color: #1A324C;
}

.Bio-1 {
    width: 25rem;
    border-radius: 6px;
    padding: 0.625rem;
    margin-left: 20%;
    box-shadow: 0 3px 10px #1f2355;
    background-color: #1A324C;
  }

  .Bio-2 {
    width: 25rem;
    border-radius: 6px;
    padding: 0.625rem;
    box-shadow: 0 3px 10px #1f2355;
    background-color: #1A324C;
    margin-left: 55%;
  }

@media screen and (max-width: 720px) {
    
    .About-intro{
        margin-top: 15rem;
    }

    .Bio-1{
        margin-top: 3rem;
        width: 20.5rem;
        margin-left: 180px;
    }

    .Bio-2{
        margin-top: 5rem;
        width: 20.5rem;
        margin-left: 180px;
    }


}

 

 