body{
    font-family: var(--font-family);
}


.About-intro{
    margin-bottom: 5%;
    color: var(--white-color);
    text-align: center;
    padding-top: 0%;
    font-size: 500%;
}

hr{
    margin-top: 10%;
}

.About-text1{
    margin-top: 5%;
    color: var(--white-color);
    font-size: 100%;
}

.About-text2{
    margin-top: 10%;
    color: var(--white-color);
    font-size: 100%;
}

.span-ut{
    color: var(--Lightblue-color);
}

.Bio-1 {
    font-size: 20px;
    width: 25rem;
    border-radius: 6px;
    padding: 0.625rem;
    margin-left: 20%;
    box-shadow: 0 3px 10px var(--Lightblue-color);
    background-color: var(--Lightblue-color);
  }

  .Bio-2 {
    font-size: 20px;
    width: 25rem;
    border-radius: 6px;
    padding: 0.625rem;
    box-shadow: 0 3px 10px var(--Lightblue-color);
    background-color: var(--Lightblue-color);
    margin-left: 55%;
  }

@media screen and (max-width: 720px) {
    
    .About-intro{
        margin-top: 15rem;
        font-size: 300%;
        padding-right: 25%;
    }

    .Bio-1{
        margin-top: 3rem;
        width: 20.5rem;
        margin-left: 180px;
    }

    .Bio-2{
        margin-top: 5rem;
        width: 20.5rem;
        margin-left: 180px;
    }


}

 
@media screen and (max-width: 480px) {
    .About-intro{
        margin-top: 4rem;
    }

    

    .Bio-1{
        margin-top: 3rem;
        width: 15rem;
        margin-left: 50px;
    }

    .Bio-2{
        margin-top: 5rem;
        width: 15rem;
        margin-left: 50px;
    }

}