.isScrolling{
    margin-top: 150px;
}

.intro-section{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.profile{
    width: 100px;
    height: 150px;
}

.card {
    margin: 0;
    padding: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(138, 7, 98, 0.1);
  }

 .emoji{
    width: 150px;
    height: 100px;
 }

 