

.article{
    width: 100%;
    height: 200%;
    border-radius: 5%;
}

.publications{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.publications-text{
    text-align: center;
    color: var(--white-color);
    margin: 30px;
    font-size: 40px;
}

.view-site-blog{
    color: #ffd200;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd200;
    border-radius: 4px;
    cursor: pointer;
}

.view-more{
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150%;
}