

.article{
    width: 100%;
    height: 200%;
    border-radius: 5%;
}

.publications{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.publications-text{
    text-align: center;
    color: #fff;
    margin: 30px;
    font-size: 40px;
}