.footer{
    position: absolute;
    width: 1365px;
    height: 100px;
    background-color:#FFCCE1;
    margin-top: 0px;
}

.footer-icon{
    color: black;
    text-decoration: none;
}

.footer-ul{
    list-style-type: none;
}