*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--Darkblue-color) ;
    overflow: hidden;
    /*CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}


.container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 700px;
    background-color: var(--Darkblue-color);
    justify-content: space-between;
    padding-top: 5%;
    font-family: var(--font-family);
}


.bio{
    color: var(--white-color);
    font-size: 700%;
    padding-left: 10%;
}

.logo-text{
    color: var(--white-color);
    padding-left: 10%;
    padding-bottom: 0;
}

.span-software{
   color: var(--Lightblue-color);   
}

@media screen and (max-width: 480px)  {
    .bio{
        color: var(--white-color);
        font-size: 550%;
        padding-left: 8%;
    }

    
}
    
