.bio {
    color: var(--white-color);
    font-size: 7rem;
    margin-top: 20px;
    padding: 10px 12px;
}

.logo-text {
    color: var(--white-color);
}

.social-icons{
    color: var(--white-color);
    margin: 10px;
    margin-left: 90%;
}

.span-software {
    color: var(--Lightblue-color);
}

@media screen and (max-width: 768px) {
    .bio {
        font-size: 5rem;
    }

}

@media screen and (max-width: 480px) {
    .bio {
        color: var(--white-color);
        font-size: 4rem;
    }

}