*{
    margin: 0;
}


.image{
    padding-top: 80px;
    width: 200px;
    height: 250px;
    padding-left: 250px;
    justify-content: center;
}

.container{
    position: relative;
    height: 700px;
    background-color: grey;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.text{
    padding-top: 5px;
    padding-left: 80px ;
}

.full-text{
    margin-top: 50px;
}

h1{
    color: #732646;
}

p{
    color: #62505B;
}