nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #732646;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    margin: 0;
  }
  
  li {
    margin: 0px;
    margin-left: 6rem;
  }
  
  a {
    text-decoration: none;
    color: #F5F5F5;
  }
  