*{
    box-sizing: border-box;
}



.skills-intro{
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 500% ;
  }

.Firestore{
    height: 100px;
    width: 90px;
}

.Redux{
    height: 100px;
    width: 90px;
}

.Markdown{
    height: 100px;
    width: 90px;
}

.html{
   height: 100px;
   width: 90px;
}

.css{
    height: 100px;
   width: 90px;
}

.javascript{
    height: 100px;
    width: 90px;
}

.framework{
    height: 100px;
    width: 90px;
}

.github{
    height: 100px;
   width: 90px;
}

.git{
    height: 100px;
   width: 90px;
}



.skills-container{
    display: flex;
    flex-wrap: wrap;
}

.skill-card{
    display: flex;
    flex-wrap: wrap;
}

