* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', 'sans-serif';
}

.skills-intro {
  color: var(--white-color);
  text-align: center;
  font-size: 200%;
  padding-bottom: 40px;
}

.span-my {
  color: var(--Lightblue-color);
}




.first-skill{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}


.skill-box{
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-box:hover > .skill-title::after, .skill-box:hover > .skill-title::before{
  width: 35px;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}




.skill-img{
  width: 50px;
  z-index: 2;
}

.skill-title h3{
  color: #fff;
  margin: 0.5rem;
}

.skill-div{
   width: 90px;
   height: 90px;
   position: relative;
   border-radius: 45px;
   display: flex;
   justify-content: center;
   background-color: var(--Lightblue-color);
   align-items: center;
}

@media screen and (max-width: 420px) {
    .first-skill{
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem 50px;
    }

    .skills-intro {
      color: var(--white-color);
      text-align: center;
      font-size: 150%;
      padding-bottom: 20px;
    }
}