* {
  box-sizing: border-box;
}


.skills-intro {
  color: var(--white-color);
  text-align: center;
  font-size: 300%;
  padding-bottom: 40px;
}

.span-my {
  color: var(--Lightblue-color);
}

.Firestore {
  height: 100px;
  width: 90px;
  display: block;
}

.Redux {
  height: 100px;
  width: 90px;
  display: block;
}

.Markdown {
  height: 100px;
  width: 90px;
  display: block;
}

.html {
  height: 100px;
  width: 90px;
  display: block;
}

.css {
  height: 100px;
  width: 90px;
  display: block;
}

.javascript {
  height: 100px;
  width: 90px;
  display: block;
}

.framework {
  height: 100px;
  width: 90px;
  display: block;
}

.github {
  height: 100px;
  width: 90px;
  display: block;
}

.git {
  display: block;
  height: 100px;
  width: 90px;
}

.card-skill {
  display: flex;
  text-align: center;
  font-size: small;
  justify-content: center;
  color: var(--white-color);
  margin-right: 40%;
}




@media screen and (max-width: 720px) {

  .flip-card {
    width: 120px;
    height: 100px;
    margin-left: 4px;
  }

  .Firestore {
    margin-left: -15px;
    width: 60px;
    height: 70px;
  }

  .Redux {
    margin-left: -15px;
    width: 60px;
    height: 70px;
  }

  .Markdown {
    margin-left: -15px;
    width: 60px;
    height: 70px;
  }

  .html {
    margin-left: -15px;
    width: 60px;
    height: 70px;
  }

  .css {
    margin-left: -15px;
    width: 60px;
    height: 70px;
  }

  .javascript {
    margin-left: -15px;
    width: 60px;
    height: 70px;
  }

  .framework {
    margin-left: -15px;
    width: 60px;
    height: 70px;
  }

  .github {
    margin-left: -15px;
    width: 60px;
    height: 70px;
  }

  .git {
    margin-left: -15px;
    width: 60px;
    height: 70px;
  }

}

@media screen and (max-width: 480px) {
  .flip-card {
    width: 100px;
    height: 120px;
    margin-left: -5px;
  }

  .skills-intro {
    font-size: 300%;
    padding-bottom: 40px;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    color: var(--white-color);
    width: 90%;
    margin: auto;
  }

}

@media screen and (max-width: 480px) {

  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    color: var(--white-color);
    width: 85%;
    margin: auto;
  }


}