.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


*,
html {
  transition: 3s linear all;
}

html {
  scroll-behavior: smooth;
}

.page{
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-tags{
  bottom: auto;
  top: 25px;
}

.tags{
   color: yellow;
   opacity: 0.6;
   position: absolute;
   bottom: 0;
   left: 120px;
   font-size: 18px;
   font-family: 'La belle Aurore';
}

.bottom-tag-html{
  margin-left: -30px;
}